<div class="container">

<header>
   <h1>City Gallery</h1>
</header>

<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Blog Articles', articles_path%></li>
    <li><%= link_to 'About', about_path %></li>
  </ul>
</nav>

<article>
  <h1>Blog</h1>
  <% if @article.errors.any? %>
	  <h2>The following errors have occured</h2>
	  <ul>
		  <% @article.errors.full_messages.each do |msg| %>
		  	<li><%= msg %></li>
		  <% end %>
	  </ul>
  <% end %>
  <p><%= @article.title %></p>
  <p><%= @article.description %></p>
  <%= button_to "Edit this Article", edit_article_path(@article) %>
</article>

<footer>Copyright &copy; W3Schools.com</footer>

</div>